/* Universal Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', 'Arial', sans-serif;
}
:root{
    --accent-clr: #e63250;
    --background-clr: #1b1b1b;
    --text-clr: #e3e3e3;
    --placeholder-gray: #444444;
    --shady-brown: #343434;
    --woody-brown: #3e3133;
    --gray: #848484;
}
/* Body Styling */
body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-clr);
}
.container{
    width: 90vw;
    max-width: 500px;
    height: auto;
    padding: 1.5rem;
    box-shadow: inset 0px 0px 10px 0px var(--gray), inset 0px 0px 5px 0px var(--placeholder-gray);
    border-radius: 8px;
    padding: 25px;
    margin: 20px;
    overflow: hidden;
}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-weight: 500;
    color: var(--gray);
    font-size: 1.1rem;
    margin: 10px 0;
}
.tablinks{
    position: relative;
    cursor: pointer;
}
ul li.tablinks::after{
    content: '';
    display: block;
    overflow: hidden;
    width: 0;
    height: 2.5px;
    background: var(--accent-clr);
    position: absolute;
    top: 23px;
    left: 0;
    transition: width 0.3s ease-in-out;
}
.tablinks:hover{
    color: var(--accent-clr);
    transition: color 0.3s ease-in-out;
}
.tablinks.active{
    color: var(--accent-clr);
}
ul li:hover::after{
    width: 100%;
}
ul li.tablinks.active::after{
    width: 100%;
}
/* Calculator */
.tabcontents{
    display: none;
}
.tabcontents.active{
    display: flex;
    flex-direction: column;
}
.display{
    position: relative;
    width: 100%;
    height: 120px;
    background: transparent;
    box-shadow: inset 5px 5px 15px rgba(0,0,0,0.6), inset -5px -5px 15px rgba(50,50,50,0.2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-clr);
    font-size: 1.5rem;
    margin: 8px 0;
}

.calculator button{
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--gray);
    width: 80%;
    height: 94%;
    font-size: 2.1rem;
    font-weight: 500;
    border: none;
    margin: 7px 0;
    box-shadow: 0 0px 10px 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 5px;
}
.buttons .operation-btn{
    color: var(--accent-clr)
}
.operation-btn:hover{
    color: var(--accent-clr)
}
.calculator button:hover{
    background: var(--placeholder-gray);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    color: var(--text-clr);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.calculator button:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: #848484;
}
.calculator #displayNumbers{
    font-size: 2.3rem;
    position: absolute;
    top: 5px;
    right: 5px;
}
